/******************************************/
/*General*/
/******************************************/
body{
    font-size: 14px;
    color: #000;
    background-color: #fff;
    font-family: Arial, Helvetica, sans-serif;
}
.container{
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.container-fluid{
    width: 100%;
}
.col-12 {
    flex: 0 0 100%;
    max-width: 100%;
}
.img-fluid{
    max-width: 100%;
    height: auto;
}
.btn-blue{
    background-color: #5266df;
    padding: 10px 15px;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 12px;
}
.btn-red{
    background-color: #fb5859;
    padding: 10px 15px;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 12px;
}
.btn-light{
    background-color: #ccc;
    padding: 10px 15px;
    color: #000;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 12px;
}
/******************************************/
/*Header*/
/******************************************/
.header-logo img{
    cursor: pointer;
}
.header-menu{
    list-style: none;
    display: flex;
    justify-content: center;
}
.header-menu .menu-item{
    font-size: 14px;
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    align-items: center;
    cursor: pointer;
}
/******************************************/
/*Header Mobile*/
/******************************************/
.menu-mobile-box{
  padding: 0 15px; 
}
.menu-mobile{
  position: absolute;
  z-index: 3;
  top: -16px;
  left: -1000px;
  width: 100%;
  height: 100vh;
  background-color: #242946f5;
  color: #fff; 
}
.menu-mobile-content{
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%; 
}
.header-menu-mobile{
  list-style: none;
  width: 80%; 
}
.menu-mobile-list{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center; 
}
.menu-mobile-list .menu-item{
  font-size: 40px;
  margin: 0 10px;
  padding: 30px 0;
  text-align: center;
  cursor: pointer;
  border-top: 1px solid #fff; 
}
.menu-mobile-login{
  padding: 15px;
  border: 2px solid #fff;
  border-radius: 10px; 
}
.menu-mobile-logo{
  position: absolute;
  left: 0;
  padding: 23px 30px; 
}
.menu-mobile-icons{
  position: absolute;
  display: flex;
  left: 50%;
  transform: translate(-50%, 0);
  bottom: 50px; 
}
.menu-mobile-icons img{
  margin: 0 10px; 
}
.btn-close-box{
  position: absolute;
  right: 0;
  padding: 23px 30px; 
}
/******************************************/
/*Content*/
/******************************************/
.img-monitor{
    width: 300px;
    height: auto;
    display: block;
    margin-right: auto;
    margin-left: auto;
    position: relative;
    z-index: 2;
}
.img-monitor-before-one::before {
    content: "";
    position: absolute;
    bottom: -45px;
    right: -100px;
    width: 350px;
    height: 200px;
    border-radius: 0 0 0 60px;
    background-color: #5266df;
}
.img-monitor-before-two::before {
    content: "";
    position: absolute;
    bottom: -45px;
    left: -100px;
    width: 350px;
    height: 200px;
    border-radius: 0 0 60px 0;
    background-color: #5266df;
}
.img-monitor.img-border{
    border: 10px solid #000;
    border-radius: 10px;
}
.tabs-list{
    list-style: none;
    display: flex;
    justify-content: center;
}
.tabs-list .tab-item{
    font-size: 16px;
    padding-left: 45px;
    padding-right: 45px;
    cursor: pointer;
    border-bottom: 2px solid #5d5d5d;
}
.tabs-list .tab-item.active{
    border-bottom: 2px solid #fb5859;
}
.form-group input{
    padding: 8px;
}
/******************************************/
/*Footer*/
/******************************************/
.footer-one{
    background-color: #5266df;
    color: #fff;
}
.footer-two{
    background-color: #242946;
    color: #fff;
}
.footer-list{
    height: 100%;
}
.footer-menu{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.footer-menu .menu-item{
    font-size: 12px;
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.footer-icons{
    display: flex;
    justify-content: end;
}
.footer-icons img{
    margin: 0 10px;
}
/******************************************/
/*Media Queries*/
/******************************************/
@media screen and (min-width: 1200px){
    .container {
        width: 1170px;
    }
}
@media screen and (min-width: 992px){
    .container {
        width: 970px;
    }
}
@media screen and (max-width: 768px){
    .tabs-list{
        display: block;
    }
    .tabs-list .tab-item{
        text-align: center;
        margin-top: 20px;
    }
    .footer-menu{
        display: block;
    }
    .footer-menu .menu-item{
        display: block;
        text-align: center;
        margin: 20px 0;
    }
    .footer-icons{
        justify-content: center;
        margin: 20px 0;
    }
    .footer-logo{
        display: flex;
        justify-content: center;
        margin: 20px 0;
    }
    .form-group{
        display: inline-grid;
        width: 80%;
    }
    .form-group input{
        margin-bottom: 20px;
    }
    .img-monitor-before-one{
        margin-bottom: 60px;
    }
    .img-monitor-before-two{
        margin-bottom: 60px;
    }
    .img-monitor-before-one::before{
        right: -15px;
        width: 300px;
    }
    .img-monitor-before-two::before{
        left: -15px;
        width: 300px;
    }
}
@media screen and (min-width: 768px){
    .container {
        width: 750px;
    }
    .col-md-6 {
        flex: 0 0 auto;
        width: 50%;
    }
    .col-md-4 {
        flex: 0 0 auto;
        width: 33.33333333%;
    }
}