.footer-one{
    background-color: $blue;
    color: $white;
}
.footer-two{
    background-color: $dark-blue;
    color: $white;
}
.footer-list{
    height: 100%;
}
.footer-menu{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.footer-menu .menu-item{
    font-size: 12px;
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.footer-icons{
    display: flex;
    justify-content: end;
}
.footer-icons img{
    margin: 0 10px;
    transition: 1s;
}
.footer-icons img:hover{
    filter: brightness(50%);
    transition: 1s;
}